
/*共通化*/
.clearfix::before,
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.inner {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: border-box;
}

.header {
  position: fixed;
  background-color: #fff;
  padding: 15px 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav {
  display: none;
}

.nav__contact {
  display: none;
}

.icon {
  float: left;
  color: #7f7f7f;
}

.contact {
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  text-decoration: none;
}

.main {
  background-color: #f2f2f2;
  text-align: center;
}

.title-inner {
  padding: 250px 0;
  margin-top: 94px;
}

.bolt-theme {
  font-family: 'Oxygen', sans-serif;
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.free-bootstrap {
  color: #c0c0c0;
  font-size: 30px;
}

.carrier {
  background-color: #74cfae;
  padding-top: 50px;
  width: 100%;
}

.phone__img {
  float: left;
  width: 40%;
  text-align: center;
}

.what-we-can-do__box {
  width: 60%;
  float: right;
}

.what-we-can-do {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-bottom: 35px;
  color: #fff;
}

.what-we-can-do__text__text {
  color: #fff;
  font-size: 20px;
  word-wrap: break-word;
  line-height: 1.4;
}

.latest__title {
  font-size: 24px;
  margin: 60px 0 40px 0;
  font-family: 'Raleway', sans-serif;
}

.latest__block__btm > li,
.latest__block > li {
  margin: 0 100px 80px 0;
  float: left;
  opacity: 0.7;
}

.latest__block__btm > li:hover,
.latest__block > li:hover {
  opacity: 1;
}

.latest__block__btm > li:last-child,
.latest__block > li:last-child {
  margin-right: 0;
}

.latest__txt__btn {
  margin-bottom: 70px;
}

.latest__txt {
  float: left;
  width: 70%;
  padding-left: 20px;
  box-sizing: border-box;
}

.e-mail {
  float: right;
  width: 30%;
  text-align: left;
}

.e-mail-box {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  text-decoration: none;
  margin-left: 90px;
}

.skill {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.skill__title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 50px;
}

.skill-size {
  max-width: 1028px;
  margin: 0 auto;
}

.skill-size > li {
  max-width: 302px;
}

.skill-icon {
  margin-right: 180px;
  float: left;
}

.skill-icon:last-child {
  margin-right: 0;
}

.skill-icon-wrap {
  margin: 0 auto;
}

.skill-text-color {
  font-size: 16px;
  color: #fff;
}

.sns-icon {
  padding: 200px 0;
}

.sns-size {
  width: 740px;
  margin: 0 auto;
}

.sns-size > li {
  max-width: 185px;
}

.sns-frame {
  float: left;
}

.sns-color {
  color: #74cfae;
  width: 185px;
  padding: 20px 0;
  box-sizing: border-box;
}

.sns-color:hover {
  background-color: #fff;
  width: 185px;
  padding: 20px 0;
  float: left;
  box-sizing: border-box;
}

.latest__block__btm > .latest__img {
  margin: 0 100px 90px 0;
}

.footer {
  background-color: #74cfae;
}

.footer-txt {
  padding: 20px 0 25px 0;
  color: #fff;
  text-align: right;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {

  .carrier {
    padding-bottom: 20px;
  }

  .what-we-can-do__box {
    width: 80%;
  }

  .phone__img {
    text-align: center;
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .what-we-can-do__box {
    float: none;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  .latest__block__btm,
  .latest__block {
    margin-bottom: 80px;
  }

  .latest__block__btm > li,
  .latest__block > li {
    float: none;
    display: block;
    margin: 0 auto;
    font-size: 0;
  }

  .latest__block__btm > li:last-child,
  .latest__block > li:last-child {
    margin: 0 auto;
  }

  .latest__txt__btn {
    margin-top: 80px;
  }

  .latest__txt {
    line-height: 1.4;
    float: none;
    word-wrap: break-word;
    margin: 0 auto 40px;
    width: 100%;
  }

  .e-mail {
    float: none;
    width: 100%;
    text-align: center;
  }

  .e-mail-box {
    margin-left: 0;
  }

  .skill-icon {
    margin: 0 auto;
    float: none;
    margin-bottom: 88px;
  }

  .skill-icon:last-child {
    margin: 0 auto;
  }
}

@media screen and (max-width: 766px) {

  .contact {
    display: none;
  }

  .hamburger {
    display: block;
    float: right;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
  }

  .span-color {
    display: block;
    width: 25px;
    height: 2px;
    margin-top: 4px;
    background-color: #ddd;
    border-radius: 4px;
  }

  .span-color:first-child {
    margin-top: 0;
  }

  .wrap__menu {
    position: absolute;
    bottom: -50px;
    width: 100%;
  }

 .nav__contact {
    text-decoration: none;
  }

  nav.open-nav .nav__contact {
     font-size: 12px;
     padding: 14px 12px;
     background-color: #74cfae;
     color: #fff;
     text-decoration: none;
     display: block;
   }

  .nav__frame {
    background-color: #fff;
    padding: 5px 0 10px 0;
    border: 1px solid #dedede;
    display: none;
  }
  nav.open-nav .nav__frame {
    background-color: #fff;
    padding: 5px 0 10px 0;
    border: 1px solid #dedede;
    display: block;
  }

  nav.open-nav  {
    display: block;
  }

  .title-inner {
    padding: 160px 0 130px 0;
  }

  .bolt-theme {
    color: #74cfae;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .free-bootstrap {
    color: #c0c0c0;
    font-size: 30px;
  }

  .carrier {
    padding-bottom: 20px;
  }

  .phone__img {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 0;
    width: 75%;
  }

  .what-we-can-do__box {
    float: none;
    margin: 0 auto;
    width: 80%;
  }

  .phone__img .iphone__img {
    width: 100%;
  }

  .latest__title {
    margin: 60px 0 40px 0;
  }

  .latest__block__btm,
  .latest__block {
    margin-bottom: 80px;
  }

  .latest__block__btm > li,
  .latest__block > li {
    font-size: 0;
    float: none;
    display: block;
    margin: 0 auto;
  }

  .latest__block__btm > li:last-child,
  .latest__block > li:last-child {
    margin: 0 auto;
  }

  .latest__img {
    width: 100%;
    max-width: 300px;
  }

  .latest__txt {
    float: none;
    word-wrap: break-word;
    margin-bottom: 40px;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 100%;
    padding: 0;
  }

  .e-mail {
    float: none;
    width: 100%;
    text-align: center;
  }

  .e-mail-box {
    margin-left: 0;
  }

  .skill-icon {
    margin: 0 auto;
    float: none;
    margin-bottom: 88px;
  }

  .skill-icon:last-child {
    margin: 0 auto;
  }

  .skill-size {
    margin-bottom: 50px;
  }

  .sns-icon {
    padding: 50px 15px 50px 15px;
  }

  .sns-frame {
    margin: 0 auto;
    float: none;
  }

  .sns-frame:last-child {
    margin: 0 auto;
  }

  .sns-size {
    width: 100%;
  }

  .sns-color:hover {
    background-color: #fff;
    width: 100%;
    padding: 20px 0;
    float: left;
    box-sizing: border-box;
  }

  .sns-size > li {
    max-width: none;
  }
}
