.clearfix::before,
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

$mainColor: #74cfae;
$grayColor: #c0c0c0;
$maxWidth: 1200px;
$ipadMaxWidth: 1199px;
$ipadMinWidth: 767px;
$spWidth: 766px;
$display: none;
@mixin display($display) {
  display: $display;
}

@mixin freeBootstrap($grayColor) {
  color: $grayColor;
  font-size: 30px;
}

@mixin lester($display) {
  font-size: 0;
  float: $display;
  display: block;
  margin: 0 auto;
}

.inner {
   max-width: $maxWidth;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: border-box;
}

.header {
  position: fixed;
  background-color: #fff;
  padding: 15px 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.nav {
  @include display($display);
}

.nav__contact {
  @include display($display);
}

.icon {
  float: left;
  color: #7f7f7f;
}

.contact {
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  background-color: $mainColor;
  color: #fff;
  text-decoration: $display;

  @media screen and (max-width: $spWidth) {
    @include display($display);
  }
}

.hamburger {
  @media screen and (max-width: $spWidth) {
    display: block;
    float: right;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
  }

  .span-color {
    @media screen and (max-width: $spWidth) {
      display: block;
      width: 25px;
      height: 2px;
      margin-top: 4px;
      background-color: #ddd;
      border-radius: 4px;
    }
  }
}

.span-color:first-child {
  @media screen and (max-width: $spWidth) {
    margin-top: 0;
  }
}

.wrap__menu {
  @media screen and (max-width: $spWidth) {
    position: absolute;
    bottom: -50px;
    width: 100%;
  }

  .nav__frame {
    @media screen and (max-width: $spWidth) {
      background-color: #fff;
      padding: 5px 0 10px 0;
      border: 1px solid #dedede;
      @include display($display);
    }

    .nav__contact {
      @media screen and (max-width: $spWidth) {
        text-decoration: $display;
      }
    }
  }
}

nav.open-nav .nav__contact {
  @media screen and (max-width: $spWidth) {
   font-size: 12px;
   padding: 14px 12px;
   background-color: $mainColor;
   color: #fff;
   text-decoration: $display;
   display: block;
 }
}

nav.open-nav .nav__frame {
  @media screen and (max-width: $spWidth) {
    background-color: #fff;
    padding: 5px 0 10px 0;
    border: 1px solid #dedede;
    display: block;
  }
}

nav.open-nav  {
  @media screen and (max-width: $spWidth) {
    display: block;
  }
}

.main {
  background-color: #f2f2f2;
  text-align: center;
}

.title-inner {
  padding: 250px 0;
  margin-top: 94px;

  @media screen and (max-width: $spWidth) {
    padding: 160px 0 130px 0;
  }

  .bolt-theme {
    font-family: 'Oxygen', sans-serif;
    color: $mainColor;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 20px;

    @media screen and (max-width: $spWidth) {
      color: $mainColor;
      font-size: 80px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }

  .free-bootstrap {
    @include freeBootstrap($grayColor);

    @media screen and (max-width: $spWidth) {
      @include freeBootstrap($grayColor);
    }
  }
}

.carrier {
  background-color: $mainColor;
  padding-top: 50px;
  width: 100%;

  @media screen and (min-width: $ipadMinWidth) and (max-width: $ipadMaxWidth) {
    padding-bottom: 20px;
  }

  @media screen and (max-width: $spWidth) {
    padding-bottom: 20px;
  }
}

.phone__img {
  float: left;
  width: 40%;
  text-align: center;

  @media screen and (min-width: $ipadMinWidth) and (max-width: $ipadMaxWidth) {
    text-align: center;
    float: $display;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @media screen and (max-width: $spWidth) {
    float: $display;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 0;
    width: 75%;
  }
}

.what-we-can-do__box {
  width: 60%;
  float: right;

  @media screen and (min-width: $ipadMinWidth) and (max-width: $ipadMaxWidth) {
    width: 80%;
    float: $display;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  @media screen and (max-width: $spWidth) {
    float: $display;
    margin: 0 auto;
    width: 80%;
  }
}

.phone__img .iphone__img {
  @media screen and (max-width: $spWidth) {
    width: 100%;
  }
}

.what-we-can-do {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-bottom: 35px;
  color: #fff;
}

.what-we-can-do__text__text {
  color: #fff;
  font-size: 20px;
  word-wrap: break-word;
  line-height: 1.4;
}

.latest__title {
  font-size: 24px;
  margin: 60px 0 40px 0;
  font-family: 'Raleway', sans-serif;

  @media screen and (max-width: $spWidth) {
    margin: 60px 0 40px 0;
  }
}

.latest__block__btm,
.latest__block {
  @media screen and (min-width: $ipadMinWidth) and (max-width: $ipadMaxWidth) {
    margin-bottom: 80px;
  }

  @media screen and (max-width: $spWidth) {
    margin-bottom: 80px;
  }

  li {
    margin: 0 100px 80px 0;
    float: left;
    opacity: 0.7;

    @media screen and (min-width: $ipadMinWidth) and (max-width: $ipadMaxWidth) {
      @include lester($display);
    }

    @media screen and (max-width: $spWidth) {
      @include lester($display);
    }

    .latest__img {
      @media screen and (max-width: $spWidth) {
        width: 100%;
        max-width: 300px;
      }
    }
  }
}

.latest__block__btm > li:hover,
.latest__block > li:hover {
  opacity: 1;
}

.latest__block__btm > li:last-child,
.latest__block > li:last-child {
  margin-right: 0;

  @media screen and (min-width: $ipadMinWidth) and (max-width: $ipadMaxWidth) {
    margin: 0 auto;
  }

  @media screen and (max-width: $spWidth) {
    margin: 0 auto;
  }
}

.latest__block__btm > .latest__img {
  margin: 0 100px 90px 0;
}

.latest__txt__btn {
  margin-bottom: 70px;

  @media screen and (min-width: $ipadMinWidth) and (max-width: $ipadMaxWidth) {
    margin-top: 80px;
  }

  .latest__txt {
    float: left;
    width: 70%;
    padding-left: 20px;
    box-sizing: border-box;

    @media screen and (min-width: $ipadMinWidth) and (max-width: $ipadMaxWidth) {
      line-height: 1.4;
      float: $display;
      word-wrap: break-word;
      margin: 0 auto 40px;
      width: 100%;
    }

    @media screen and (max-width: $spWidth) {
      float: $display;
      word-wrap: break-word;
      margin-bottom: 40px;
      margin: 0 auto;
      margin-bottom: 40px;
      width: 100%;
      padding: 0;
    }
  }

  .e-mail {
    float: right;
    width: 30%;
    text-align: left;

    @media screen and (min-width: $ipadMinWidth) and (max-width: $ipadMaxWidth) {
      float: $display;
      width: 100%;
      text-align: center;
    }

    @media screen and (max-width: $spWidth) {
      float: $display;
      width: 100%;
      text-align: center;
    }

    .e-mail-box {
      font-size: 12px;
      padding: 14px 20px;
      background-color: $mainColor;
      color: #fff;
      text-decoration: $display;
      margin-left: 90px;

      @media screen and (min-width: $ipadMinWidth) and (max-width: $ipadMaxWidth) {
        margin-left: 0;
      }

      @media screen and (max-width: $spWidth) {
        margin-left: 0;
      }
    }
  }
}

.skill {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;

  .skill__title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 50px;
  }
}

.skill-icon-wrap {
  margin: 0 auto;

  .skill-size {
    max-width: 1028px;
    margin: 0 auto;

    @media screen and (max-width: $spWidth) {
      margin-bottom: 50px;
    }
  }
}

.skill-size > li {
  max-width: 302px;
}

.skill-icon {
  margin-right: 180px;
  float: left;
  @media screen and (min-width: $ipadMinWidth) and (max-width: $ipadMaxWidth) {
    margin: 0 auto;
    float: $display;
    margin-bottom: 88px;
  }

  @media screen and (max-width: $spWidth) {
    margin: 0 auto;
    float: $display;
    margin-bottom: 88px;
  }
}

.skill-icon:last-child {
  margin-right: 0;
  @media screen and (min-width: $ipadMinWidth) and (max-width: $ipadMaxWidth) {
    margin: 0 auto;
  }

  @media screen and (max-width: $spWidth) {
    margin: 0 auto;
  }
}

.skill-text-color {
  font-size: 16px;
  color: #fff;
}

.sns-icon {
  padding: 200px 0;

  @media screen and (max-width: $spWidth) {
    padding: 50px 15px 50px 15px;
  }

  .sns-size {
    width: 740px;
    margin: 0 auto;

    @media screen and (max-width: $spWidth) {
      width: 100%;
    }
  }
}

.sns-size > li {
  max-width: 185px;

  @media screen and (max-width: $spWidth) {
    max-width: $display;
  }
}

.sns-frame {
  float: left;

  @media screen and (max-width: $spWidth) {
    margin: 0 auto;
    float: $display;
  }
}

.sns-frame:last-child {
  @media screen and (max-width: $spWidth) {
    margin: 0 auto;
  }
}


.sns-color {
  color: $mainColor;
  width: 185px;
  padding: 20px 0;
  box-sizing: border-box;
}

.sns-color:hover {
  background-color: #fff;
  width: 185px;
  padding: 20px 0;
  float: left;
  box-sizing: border-box;

  @media screen and (max-width: $spWidth) {
    background-color: #fff;
    width: 100%;
    padding: 20px 0;
    float: left;
    box-sizing: border-box;
  }
}

.footer {
  background-color: $mainColor;

  .footer-txt {
    padding: 20px 0 25px 0;
    color: #fff;
    text-align: right;
  }
}
